<mat-tab-group mat-align-tabs="center" style="width:100%">
    <mat-tab label="База данных">
      <button mat-raised-button color="primary" style="margin: 5px; margin-left:15px">Восстановить из файла БД</button>
    
      <mat-list style="width:100%">
        <mat-list-item style="display: flex; flex-direction: column">
          <div style="width:8%">
  №
          </div>
          <div style="width:30%">
  Название
            </div>
            <div style="width:25%">
                Дата
            </div>
            <div style="width:25%">
                Восстановить
            </div>
            
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="display: flex; flex-direction: column">
            <div style="width:8%">
                1
                        </div>
                        <div style="width:30%">
                копия№1
                          </div>
                          <div style="width:25%">
                              20.12.2018
                          </div>
                          <div style="width:25%">
                              Восстановить
                          </div>
                          
          </mat-list-item>
          <mat-list-item style="display: flex; flex-direction: column">
              <div style="width:8%">
                  2
                          </div>
                          <div style="width:30%">
                  копия№2
                            </div>
                            <div style="width:25%">
                                22.12.2018
                            </div>
                            <div style="width:25%">
                                Восстановить
                            </div>
                            
            </mat-list-item>
      </mat-list>
  
    </mat-tab>
    
    
  </mat-tab-group>
  