<div style="width: 325px; align-self: center">
    <mat-list style="width: 325px; align-self: center">
        <mat-divider></mat-divider>
        <mat-list-item style=" display: flex; justify-content: center">
          <button (click)="backupSrv.openReserv()" mat-raised-button color="secondary" style="background-color: dodgerblue; color: white; min-width:250px"><mat-icon mat-list-icon style="font-size:24px">backup</mat-icon>Резервное копирование
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style=" display: flex; justify-content: center">
          <button (click)="backupSrv.openSchedule()" mat-raised-button color="secondary" style="background-color: dodgerblue; color: white; min-width:250px">
            <mat-icon mat-list-icon style="font-size:24px">schedule</mat-icon>
            Расписание
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style=" display: flex; justify-content: center">
          <button (click)="backupSrv.openRestore()" mat-raised-button color="secondary" style="background-color: dodgerblue; color: white; min-width:250px">
            <mat-icon mat-list-icon style="font-size:24px">restore</mat-icon>
            Восстановление
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>

        
    </mat-list>

  </div>