<div style="display:flex; flex-direction: row;">
<app-menu-backup style=" background-color:azure; height: 100vh; border-right: 1px solid gray; display: flex; box-shadow: 10px 0px 8px -3px rgba(50, 50, 50, 0.75);"></app-menu-backup>
<app-reserv *ngIf="backupSrv.show_reserv" style="display:flex; width: 100%"></app-reserv>
<app-raspisanie *ngIf="backupSrv.show_schedule"style="display:flex; width: 100%"></app-raspisanie>
<app-restore *ngIf="backupSrv.show_restore"style="display:flex; width: 100%"></app-restore>

</div>
<router-outlet></router-outlet>
